@model member_project.Models.Project

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


    @using (Html.BeginForm())
    {

        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Project</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input id="input_submit" type="submit" value="Create" class="btn btn-default" />


                    <h1 id="result"></h1>
                </div>
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

@Html.TextBox("value", "aa")
<div id="result"></div>
<button id="submit">aa</button>

  @section Scripts {

    <script>
            $(function ()
            {
                $("#submit").click(function () {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("function_mvccc")',
                        data: { 'value': $('#value').val() },
                        datatype: 'json',
                        cache:false
                    })
                        .success(function (data)
                        {
                            alert(data._double);
                            $("#result").html(data._double);

                          //  $('#result').val(data._double);
                        })
                        .error(function (xhr, ajaOptions, thrownError)
                        {
                            alert(xhr);
                            alert(ajaOptions);
                            alert(thrownError);

                        })
                });

            }
                );

    </script>

}
